.jumbotron{
    margin: 10px;
    background-image: url("../images/train.jpg"); 
    height: 500px; /* You must set a specified height */
    background-position: center; 
    background-repeat: no-repeat; 
    background-size: cover; 
    color: aliceblue;
}

#train-table th,
    td {
      display: inline-block;
      width: 16.575%;
    }

h3 {
    font-family: fantasy;
    text-align: right;
}