.jumbotron{
    margin: 10px;
    background-image: url("../images/train.jpg"); 
    height: 500px; /* You must set a specified height */
    background-position: center; 
    background-repeat: no-repeat; 
    background-size: cover; 
    color: aliceblue;
    position: relative;
}

#train-table th,
    td {
      display: inline-block;
      width: 16.575%;
    }

h2 {
    font-family: fantasy;
    position: absolute;
    bottom: 0%;
    right: 5%;
    
}